In [1]:
%pip install pyspark

Requirement already satisfied: pyspark in c:\users\pamela\anaconda3\envs\nugabank_pysparkenv\lib\site-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\pamela\anaconda3\envs\nugabank_pysparkenv\lib\site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

In [2]:
%pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\users\pamela\anaconda3\envs\nugabank_pysparkenv\lib\site-packages (2.9.9)
Note: you may need to restart the kernel to use updated packages.

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, mean
from sqlalchemy import create_engine
from pyspark.sql.functions import monotonically_increasing_id
import pandas as pd
import os
import psycopg2

In [4]:
# set java home
os.environ['JAVA_HOME'] = r'C:\Program Files\Java\jdk-11'

In [39]:
spark = SparkSession.builder.appName('DataExplore').getOrCreate()

In [7]:
spark

In [8]:
nugabank_df = spark.read.csv(r'C:\Users\PAMELA\Desktop\10alytics_notebooks\pysparkendtoend\dataset\nuga_bank_transactions.csv', header = True, inferSchema= True)

In [9]:
nugabank_df.show()

+--------------------+------+----------------+-----------------+--------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+-------------------+-------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+------+--------------+
|    Transaction_Date|Amount|Transaction_Type|    Customer_Name|    Customer_Address|       Customer_City|Customer_State|    Customer_Country|             Company|           Job_Title|               Email|       Phone_Number| Credit_Card_Number|                IBAN|Currency_Code|Random_Number|Category|Group|Is_Active|        Last_Updated|         Description|Gender|Marital_Status|
+--------------------+------+----------------+-----------------+--------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+-------------------+-------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+------+--------------+
|2024-03-23 15:38:...| 34.76|      Withdrawal|       James Neal|54912 Holmes Lodg...|   West Keithborough|       Florida|                Togo|Benson, Johnson a...|                NULL|                NULL|  493.720.6609x7545|   3592901394693441|GB98RBPP090285271...|          MAD|       3167.0|       C|    Z|       No|2020-06-20 03:04:...|Yeah food anythin...| Other|      Divorced|
|2024-04-22 19:15:...|163.92|      Withdrawal|      Thomas Long| 1133 Collin Passage|          Joshuabury|   Connecticut|Lao People's Demo...|                NULL|   Food technologist|michellelynch@exa...|      (497)554-3317|               NULL|GB03KFZR339662263...|          VEF|       2122.0|       B|    Z|     NULL|2020-12-27 13:23:...|Teach edge make n...|Female|       Married|
|2024-04-12 19:46:...|386.32|      Withdrawal|   Ashley Shelton|5297 Johnson Port...|         North Maria|    New Jersey|              Bhutan|       Jones-Mueller|Database administ...| ljordan@example.org|      (534)769-3072|       675983949974|GB59QYRN446730519...|          COP|       7796.0|       C|    Z|       No|2020-01-24 01:23:...|Again line face c...| Other|          NULL|
|2024-04-17 15:29:...|407.15|         Deposit|    James Rosario|56955 Moore Glens...|  North Michellefurt|    New Mexico|             Iceland|       Vargas-Harris|Horticultural the...|parkerjames@examp...|+1-447-900-1320x257|      4761202519057|GB74FTDO268299438...|          BWP|       6284.0|       C|    Z|      Yes|2023-09-27 03:01:...|     Bag my a drive.|  NULL|          NULL|
|2024-02-10 01:51:...|161.31|         Deposit|   Miguel Leonard|262 Beck Expressw...|                NULL| West Virginia|             Eritrea|Richardson, Gonza...|   Minerals surveyor| zweaver@example.net|               NULL|    213156729655186|GB94EWRN587847592...|          SOS|       9179.0|       C|    Y|       No|2022-01-22 19:08:...|Husband find ok w...|Female|       Married|
|2024-02-10 22:56:...|764.34|        Transfer|      Jesse Clark|      194 Derek Burg|        Wallacemouth|    New Mexico|             Estonia|           Smith Ltd| Seismic interpreter|benjaminwalker@ex...|   229-511-2530x870|       501851472974|                NULL|          ZWD|         NULL|       B|    Z|      Yes|2023-02-18 19:26:...|                NULL| Other|       Married|
|2024-04-07 00:07:...|734.59|         Deposit|       Mark Estes|4077 James Lane A...|      Williamsonport|      Michigan|Antarctica (the t...|         Wade-Kelley|  Surveyor, minerals|karenrobinson@exa...|      (840)334-1610|4543690154172468535|GB55FCPC779828821...|          CAD|       7304.0|       A|    X|      Yes|2020-10-27 16:48:...|Standard prepare ...|  Male|          NULL|
|2024-03-08 01:51:...|592.43|         Deposit|       Kelly Ruiz|                NULL|          New Lauren|          NULL|                NULL|                NULL|Medical laborator...|  iestes@example.org| 495.430.4276x42618|      4500718397537|GB78FDAJ595830659...|          RON|       2445.0|       B|    X|       No|2022-11-19 08:59:...|                NULL|Female|        Single|
|2024-04-02 06:21:...|472.35|        Transfer|             NULL|1467 Heather Vill...|         Conniemouth|          NULL|               Macao|Ellis, Smith and ...|Television/film/v...|rebeccarodriguez@...|       511.666.5891|      4884893247570|GB91HQDO449272193...|          LTL|       2721.0|    NULL|    Z|       No|                NULL|Leg out walk rece...| Other|          NULL|
|2024-02-01 12:34:...| 927.1|         Deposit|        Brad Yang|    579 Nolan Harbor|South Christopher...|  South Dakota|                NULL|         Lindsey LLC|Programmer, appli...|maryduran@example...|  (241)738-0972x658|    180039947294310|GB48WNWB013807482...|          HRK|       3061.0|       B|    X|       No|2020-08-31 20:40:...|Notice paper son ...|Female|        Single|
|2024-03-22 16:46:...| 66.59|        Transfer|   Dalton Jimenez|4330 Christine Vista|        Port Kirsten|          NULL|            Cameroon|         Carroll LLC|                NULL|                NULL|       670-499-0309|    213171934267032|GB05MHXA361278613...|          BAM|       3958.0|    NULL| NULL|      Yes|2022-09-19 03:52:...|He wish soldier t...|  Male|        Single|
|2024-04-23 13:30:...| 246.3|      Withdrawal|   Paige Sheppard|0947 Mendez Under...|          Medinastad|North Carolina|             Iceland|                NULL|     Sales executive|  eric64@example.net|               NULL|    342940028197162|GB54HHLQ489156729...|          ZWD|       8312.0|    NULL|    Z|      Yes|2023-06-02 04:34:...|This speak buildi...|  Male|      Divorced|
|2024-04-24 20:44:...| 17.74|        Transfer|        Ryan Rice|63191 Carol River...|       North Heather|      Virginia|               Gabon|     Arnold-Hamilton|Biomedical scientist|gonzalestammy@exa...|      (891)958-6442|   4263644221766495|GB47BGNG208602249...|          AOA|       6148.0|       D|    Y|       No|                NULL|Camera spring tea...|Female|          NULL|
|2024-02-23 05:48:...|640.74|      Withdrawal|   Danielle Young| 8484 Kelley Circles|           Karahaven|    New Jersey|            Dominica|        Fox and Sons|Operational inves...| maria62@example.net|               NULL|       675908517708|GB92DFSO760691881...|          TJS|         NULL|       B|    Z|      Yes|                NULL|Occur second offe...|Female|       Married|
|2024-01-13 01:22:...|782.32|      Withdrawal|   Stephen Nguyen|    01696 Brown Cape|          South Mary|       Wyoming|Heard Island and ...|Lynch, Hayes and ...|       Stage manager|stewartjames@exam...|  680-460-3674x6031|   4304956118653227|GB15VYWJ018711823...|          NIO|       2502.0|       B|    Y|      Yes|2021-04-12 20:23:...|Rest theory serve...|  NULL|       Married|
|2024-02-25 15:16:...|818.42|      Withdrawal|    Renee Roberts|7591 Ponce Unions...|          Amandaside| Massachusetts|            Barbados|           Green Ltd|Psychologist, pri...|                NULL|       695-680-5744|   6011259703732723|GB34HWCA758164830...|          AFN|       4452.0|       C| NULL|       No|2023-07-09 08:03:...|Program sense arm...|  Male|          NULL|
|2024-01-01 20:55:...|352.23|      Withdrawal|Jacqueline Thomas|172 Morse Falls A...|         Bennettbury|      Oklahoma|                Fiji|                NULL|Designer, blown g...|  mark84@example.com| 484.837.6166x81262|     30287519972043|GB62WWAH360646956...|          VUV|       2251.0|       C|    Z|      Yes|2022-02-07 00:48:...|Prepare other los...|Female|        Single|
|2024-01-19 00:01:...|316.19|      Withdrawal|     Joseph Pratt|71283 Thomas Port...|        Lake Michele|        Nevada|     Kyrgyz Republic|     Morris-Reynolds|          Podiatrist|robert02@example.com| 623.219.7997x39012|   3555463260975431|GB28XTGC966091493...|          PHP|       2208.0|       C|    Y|      Yes|2023-10-16 00:05:...|Blood painting sp...| Other|       Married|
|2024-04-09 14:40:...|662.26|      Withdrawal|        Tara Gray|    3476 Johnny Loaf|     South Davidland|     Tennessee|               Tonga|         Sutton-Owen|   Financial planner|ewilliams@example...|               NULL|   6517022443907149|GB64TDZA391035546...|          GNF|         NULL|       C|    X|      Yes|2022-04-21 21:43:...|Station professio...| Other|       Married|
|2024-04-15 04:58:...|893.73|         Deposit|  Dominique Lynch|   181 Gregory Ferry|           Jamesfort|         Maine|               Kenya|         Brown Group|Nutritional thera...|suzanne41@example...|       448-821-0207|   3564854271916761|GB58VVHN678787830...|          AED|       2546.0|       B|    Y|      Yes|2021-09-14 07:15:...|Letter hand soldi...| Other|       Married|
+--------------------+------+----------------+-----------------+--------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+-------------------+-------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+------+--------------+
only showing top 20 rows

In [10]:
nugabank_df.describe().show()

+-------+------------------+----------------+-------------+--------------------+-------------+--------------+----------------+-------------+------------------+-------------------+--------------------+--------------------+--------------------+-------------+------------------+--------+------+---------+--------------------+------+--------------+
|summary|            Amount|Transaction_Type|Customer_Name|    Customer_Address|Customer_City|Customer_State|Customer_Country|      Company|         Job_Title|              Email|        Phone_Number|  Credit_Card_Number|                IBAN|Currency_Code|     Random_Number|Category| Group|Is_Active|         Description|Gender|Marital_Status|
+-------+------------------+----------------+-------------+--------------------+-------------+--------------+----------------+-------------+------------------+-------------------+--------------------+--------------------+--------------------+-------------+------------------+--------+------+---------+--------------------+------+--------------+
|  count|           1000000|         1000000|       899575|              899913|       899966|        899991|          899328|       899705|            900076|             899957|              899476|              899915|              899700|       900658|            900087|  899668|899791|   899741|              899597|900233|        900096|
|   mean|504.97371121999953|            NULL|         NULL|                NULL|         NULL|          NULL|            NULL|         NULL|              NULL|               NULL|  6.00341888622502E9|3.785330130644817...|                NULL|         NULL| 5504.445295843624|    NULL|  NULL|     NULL|                NULL|  NULL|          NULL|
| stddev| 285.7997202441231|            NULL|         NULL|                NULL|         NULL|          NULL|            NULL|         NULL|              NULL|               NULL|2.3071119812223907E9|1.247765855631420...|                NULL|         NULL|2598.1680843741146|    NULL|  NULL|     NULL|                NULL|  NULL|          NULL|
|    min|              10.0|         Deposit| Aaron Abbott|000 Aaron Landing...|    Aaronberg|       Alabama|     Afghanistan| Abbott Group|Academic librarian|aabbott@example.com|       (200)201-4254|         60400015693|GB02AAAU191993009...|          AED|            1000.0|       A|     X|       No|A American and to...|Female|      Divorced|
|    max|            1000.0|      Withdrawal|    Zoe Young|    99999 Mark Vista|  Zunigaville|       Wyoming|        Zimbabwe|Zuniga-Wilson|      Youth worker|zzuniga@example.org|          9999777682| 4999984361512569455|GB98ZZXM257326775...|          ZWD|            9999.0|       D|     Z|      Yes|Yourself young ev...| Other|        Single|
+-------+------------------+----------------+-------------+--------------------+-------------+--------------+----------------+-------------+------------------+-------------------+--------------------+--------------------+--------------------+-------------+------------------+--------+------+---------+--------------------+------+--------------+

In [11]:
nugabank_df.printSchema()

root
 |-- Transaction_Date: timestamp (nullable = true)
 |-- Amount: double (nullable = true)
 |-- Transaction_Type: string (nullable = true)
 |-- Customer_Name: string (nullable = true)
 |-- Customer_Address: string (nullable = true)
 |-- Customer_City: string (nullable = true)
 |-- Customer_State: string (nullable = true)
 |-- Customer_Country: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Job_Title: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Phone_Number: string (nullable = true)
 |-- Credit_Card_Number: long (nullable = true)
 |-- IBAN: string (nullable = true)
 |-- Currency_Code: string (nullable = true)
 |-- Random_Number: double (nullable = true)
 |-- Category: string (nullable = true)
 |-- Group: string (nullable = true)
 |-- Is_Active: string (nullable = true)
 |-- Last_Updated: timestamp (nullable = true)
 |-- Description: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Marital_Status: string (nullable = true)

In [12]:
for column in nugabank_df.columns:
    print(column, 'Nulls', nugabank_df.filter(nugabank_df[column].isNull()).count())

Transaction_Date Nulls 0
Amount Nulls 0
Transaction_Type Nulls 0
Customer_Name Nulls 100425
Customer_Address Nulls 100087
Customer_City Nulls 100034
Customer_State Nulls 100009
Customer_Country Nulls 100672
Company Nulls 100295
Job_Title Nulls 99924
Email Nulls 100043
Phone_Number Nulls 100524
Credit_Card_Number Nulls 100085
IBAN Nulls 100300
Currency_Code Nulls 99342
Random_Number Nulls 99913
Category Nulls 100332
Group Nulls 100209
Is_Active Nulls 100259
Last_Updated Nulls 100321
Description Nulls 100403
Gender Nulls 99767
Marital_Status Nulls 99904

In [13]:
num_rows = nugabank_df.count()
num_rows

1000000

In [14]:
num_columns = len(nugabank_df.columns)
num_columns

23

In [15]:
nugabank_df = nugabank_df.fillna({
    'Customer_Name' : 'unknown',
    'Customer_Address' : 'unknown',
    'Customer_City': 'unknown',
    'Customer_State': 'unknown',
    'Customer_Country': 'unknown',
    'Company': 'unknown',
    'Job_Title': 'unknown',
    'Email': 'unknown',
    'Phone_Number': 'unknown',
    'Credit_Card_Number': 0,
    'IBAN':'unknown',
    'Currency_Code': 'unknown',
    'Random_Number' :'0.0',
    'Category': 'unknown',
    'Group' :'unknown',
    'Is_Active': 'unknown',
    'Description': 'unknown',
    'Gender': 'unknown',
    'Marital_Status' :'unknown'
})

In [16]:
for column in nugabank_df.columns:
    print(column, 'Nulls', nugabank_df.filter(nugabank_df[column].isNull()).count())

Transaction_Date Nulls 0
Amount Nulls 0
Transaction_Type Nulls 0
Customer_Name Nulls 0
Customer_Address Nulls 0
Customer_City Nulls 0
Customer_State Nulls 0
Customer_Country Nulls 0
Company Nulls 0
Job_Title Nulls 0
Email Nulls 0
Phone_Number Nulls 0
Credit_Card_Number Nulls 0
IBAN Nulls 0
Currency_Code Nulls 0
Random_Number Nulls 0
Category Nulls 0
Group Nulls 0
Is_Active Nulls 0
Last_Updated Nulls 100321
Description Nulls 0
Gender Nulls 0
Marital_Status Nulls 0

In [17]:
nugabank_clean_df = nugabank_df.na.drop(subset=['last_Updated'])

In [18]:
for column in nugabank_clean_df.columns:
    print(column, 'Nulls', nugabank_clean_df.filter(nugabank_clean_df[column].isNull()).count())

Transaction_Date Nulls 0
Amount Nulls 0
Transaction_Type Nulls 0
Customer_Name Nulls 0
Customer_Address Nulls 0
Customer_City Nulls 0
Customer_State Nulls 0
Customer_Country Nulls 0
Company Nulls 0
Job_Title Nulls 0
Email Nulls 0
Phone_Number Nulls 0
Credit_Card_Number Nulls 0
IBAN Nulls 0
Currency_Code Nulls 0
Random_Number Nulls 0
Category Nulls 0
Group Nulls 0
Is_Active Nulls 0
Last_Updated Nulls 0
Description Nulls 0
Gender Nulls 0
Marital_Status Nulls 0

In [19]:
# viw summary statistics
nugabank_clean_df.describe().show()

+-------+------------------+----------------+-------------+--------------------+-------------+--------------+----------------+------------+------------------+-------------------+--------------------+--------------------+--------------------+-------------+-----------------+--------+-------+---------+--------------------+-------+--------------+
|summary|            Amount|Transaction_Type|Customer_Name|    Customer_Address|Customer_City|Customer_State|Customer_Country|     Company|         Job_Title|              Email|        Phone_Number|  Credit_Card_Number|                IBAN|Currency_Code|    Random_Number|Category|  Group|Is_Active|         Description| Gender|Marital_Status|
+-------+------------------+----------------+-------------+--------------------+-------------+--------------+----------------+------------+------------------+-------------------+--------------------+--------------------+--------------------+-------------+-----------------+--------+-------+---------+--------------------+-------+--------------+
|  count|            899679|          899679|       899679|              899679|       899679|        899679|          899679|      899679|            899679|             899679|              899679|              899679|              899679|       899679|           899679|  899679| 899679|   899679|              899679| 899679|        899679|
|   mean|505.10367708927123|            NULL|         NULL|                NULL|         NULL|          NULL|            NULL|        NULL|              NULL|               NULL| 6.002851385999521E9|3.409662226750533...|                NULL|         NULL|4952.920380491264|    NULL|   NULL|     NULL|                NULL|   NULL|          NULL|
| stddev| 285.7945343300485|            NULL|         NULL|                NULL|         NULL|          NULL|            NULL|        NULL|              NULL|               NULL|2.3068371038619423E9|1.189655005733000...|                NULL|         NULL|2966.543401151591|    NULL|   NULL|     NULL|                NULL|   NULL|          NULL|
|    min|              10.0|         Deposit| Aaron Abbott|000 Aaron Landing...|    Aaronberg|       Alabama|     Afghanistan|Abbott Group|Academic librarian|aabbott@example.com|       (200)201-4254|                   0|GB02AAAU191993009...|          AED|              0.0|       A|      X|       No|A American and to...| Female|      Divorced|
|    max|            1000.0|      Withdrawal|      unknown|             unknown|      unknown|       unknown|         unknown|     unknown|           unknown|zzuniga@example.org|             unknown| 4999984361512569455|             unknown|      unknown|           9999.0| unknown|unknown|  unknown|             unknown|unknown|       unknown|
+-------+------------------+----------------+-------------+--------------------+-------------+--------------+----------------+------------+------------------+-------------------+--------------------+--------------------+--------------------+-------------+-----------------+--------+-------+---------+--------------------+-------+--------------+

In [20]:
nugabank_clean_df.columns

['Transaction_Date',
 'Amount',
 'Transaction_Type',
 'Customer_Name',
 'Customer_Address',
 'Customer_City',
 'Customer_State',
 'Customer_Country',
 'Company',
 'Job_Title',
 'Email',
 'Phone_Number',
 'Credit_Card_Number',
 'IBAN',
 'Currency_Code',
 'Random_Number',
 'Category',
 'Group',
 'Is_Active',
 'Last_Updated',
 'Description',
 'Gender',
 'Marital_Status']

In [21]:
transaction_df = nugabank_clean_df.select('Transaction_Date', 'Amount','Transaction_Type')
transaction_df.show()

+--------------------+------+----------------+
|    Transaction_Date|Amount|Transaction_Type|
+--------------------+------+----------------+
|2024-03-23 15:38:...| 34.76|      Withdrawal|
|2024-04-22 19:15:...|163.92|      Withdrawal|
|2024-04-12 19:46:...|386.32|      Withdrawal|
|2024-04-17 15:29:...|407.15|         Deposit|
|2024-02-10 01:51:...|161.31|         Deposit|
|2024-02-10 22:56:...|764.34|        Transfer|
|2024-04-07 00:07:...|734.59|         Deposit|
|2024-03-08 01:51:...|592.43|         Deposit|
|2024-02-01 12:34:...| 927.1|         Deposit|
|2024-03-22 16:46:...| 66.59|        Transfer|
|2024-04-23 13:30:...| 246.3|      Withdrawal|
|2024-01-13 01:22:...|782.32|      Withdrawal|
|2024-02-25 15:16:...|818.42|      Withdrawal|
|2024-01-01 20:55:...|352.23|      Withdrawal|
|2024-01-19 00:01:...|316.19|      Withdrawal|
|2024-04-09 14:40:...|662.26|      Withdrawal|
|2024-04-15 04:58:...|893.73|         Deposit|
|2024-04-12 14:32:...|746.22|      Withdrawal|
|2024-02-26 14:43:...|214.77|      Withdrawal|
|2024-01-17 14:50:...|726.94|      Withdrawal|
+--------------------+------+----------------+
only showing top 20 rows

In [22]:
# ading transaction_id column
transaction_df = transaction_df.withColumn('transaction_id', monotonically_increasing_id())

In [23]:
# reordering columns
transaction_df = transaction_df.select('transaction_id', 'Transaction_Date', 'Amount','Transaction_Type')

In [24]:
transaction_df.show()

+--------------+--------------------+------+----------------+
|transaction_id|    Transaction_Date|Amount|Transaction_Type|
+--------------+--------------------+------+----------------+
|             0|2024-03-23 15:38:...| 34.76|      Withdrawal|
|             1|2024-04-22 19:15:...|163.92|      Withdrawal|
|             2|2024-04-12 19:46:...|386.32|      Withdrawal|
|             3|2024-04-17 15:29:...|407.15|         Deposit|
|             4|2024-02-10 01:51:...|161.31|         Deposit|
|             5|2024-02-10 22:56:...|764.34|        Transfer|
|             6|2024-04-07 00:07:...|734.59|         Deposit|
|             7|2024-03-08 01:51:...|592.43|         Deposit|
|             8|2024-02-01 12:34:...| 927.1|         Deposit|
|             9|2024-03-22 16:46:...| 66.59|        Transfer|
|            10|2024-04-23 13:30:...| 246.3|      Withdrawal|
|            11|2024-01-13 01:22:...|782.32|      Withdrawal|
|            12|2024-02-25 15:16:...|818.42|      Withdrawal|
|            13|2024-01-01 20:55:...|352.23|      Withdrawal|
|            14|2024-01-19 00:01:...|316.19|      Withdrawal|
|            15|2024-04-09 14:40:...|662.26|      Withdrawal|
|            16|2024-04-15 04:58:...|893.73|         Deposit|
|            17|2024-04-12 14:32:...|746.22|      Withdrawal|
|            18|2024-02-26 14:43:...|214.77|      Withdrawal|
|            19|2024-01-17 14:50:...|726.94|      Withdrawal|
+--------------+--------------------+------+----------------+
only showing top 20 rows

In [25]:
# customer table
customer_df = nugabank_clean_df.select('Customer_Name', 'Customer_Address', 'Customer_City', \
                         'Customer_State', 'Customer_Country','Email','Phone_Number') \
                     .withColumn('customer_id', monotonically_increasing_id()) \
                     .select('customer_id', 'Customer_Name', 'Customer_Address', 'Customer_City', \
                         'Customer_State', 'Customer_Country','Email','Phone_Number')
customer_df.show()

+-----------+-----------------+--------------------+--------------------+--------------+--------------------+--------------------+-------------------+
|customer_id|    Customer_Name|    Customer_Address|       Customer_City|Customer_State|    Customer_Country|               Email|       Phone_Number|
+-----------+-----------------+--------------------+--------------------+--------------+--------------------+--------------------+-------------------+
|          0|       James Neal|54912 Holmes Lodg...|   West Keithborough|       Florida|                Togo|             unknown|  493.720.6609x7545|
|          1|      Thomas Long| 1133 Collin Passage|          Joshuabury|   Connecticut|Lao People's Demo...|michellelynch@exa...|      (497)554-3317|
|          2|   Ashley Shelton|5297 Johnson Port...|         North Maria|    New Jersey|              Bhutan| ljordan@example.org|      (534)769-3072|
|          3|    James Rosario|56955 Moore Glens...|  North Michellefurt|    New Mexico|             Iceland|parkerjames@examp...|+1-447-900-1320x257|
|          4|   Miguel Leonard|262 Beck Expressw...|             unknown| West Virginia|             Eritrea| zweaver@example.net|            unknown|
|          5|      Jesse Clark|      194 Derek Burg|        Wallacemouth|    New Mexico|             Estonia|benjaminwalker@ex...|   229-511-2530x870|
|          6|       Mark Estes|4077 James Lane A...|      Williamsonport|      Michigan|Antarctica (the t...|karenrobinson@exa...|      (840)334-1610|
|          7|       Kelly Ruiz|             unknown|          New Lauren|       unknown|             unknown|  iestes@example.org| 495.430.4276x42618|
|          8|        Brad Yang|    579 Nolan Harbor|South Christopher...|  South Dakota|             unknown|maryduran@example...|  (241)738-0972x658|
|          9|   Dalton Jimenez|4330 Christine Vista|        Port Kirsten|       unknown|            Cameroon|             unknown|       670-499-0309|
|         10|   Paige Sheppard|0947 Mendez Under...|          Medinastad|North Carolina|             Iceland|  eric64@example.net|            unknown|
|         11|   Stephen Nguyen|    01696 Brown Cape|          South Mary|       Wyoming|Heard Island and ...|stewartjames@exam...|  680-460-3674x6031|
|         12|    Renee Roberts|7591 Ponce Unions...|          Amandaside| Massachusetts|            Barbados|             unknown|       695-680-5744|
|         13|Jacqueline Thomas|172 Morse Falls A...|         Bennettbury|      Oklahoma|                Fiji|  mark84@example.com| 484.837.6166x81262|
|         14|     Joseph Pratt|71283 Thomas Port...|        Lake Michele|        Nevada|     Kyrgyz Republic|robert02@example.com| 623.219.7997x39012|
|         15|        Tara Gray|    3476 Johnny Loaf|     South Davidland|     Tennessee|               Tonga|ewilliams@example...|            unknown|
|         16|  Dominique Lynch|   181 Gregory Ferry|           Jamesfort|         Maine|               Kenya|suzanne41@example...|       448-821-0207|
|         17|      Sarah Brown|    4645 Smith Drive|        Arellanobury|   Mississippi|             Mayotte|sullivandiane@exa...|(643)844-2202x42284|
|         18|    Michael Brown|94463 Novak Turnp...|        North Robert|       unknown|             Somalia|elliserica@exampl...|   214-650-4477x630|
|         19|     Tamara Clark|   4902 Torres Ports|        Bridgesmouth|     Tennessee|        Turkmenistan|annerice@example.com|  (528)927-0111x373|
+-----------+-----------------+--------------------+--------------------+--------------+--------------------+--------------------+-------------------+
only showing top 20 rows

In [26]:
customer_df = nugabank_clean_df.select('Customer_Name', 'Customer_Address', 'Customer_City', \
                         'Customer_State', 'Customer_Country','Email','Phone_Number').distinct() \
                     .withColumn('customer_id', monotonically_increasing_id()) \
                     .select('customer_id', 'Customer_Name', 'Customer_Address', 'Customer_City', \
                         'Customer_State', 'Customer_Country','Email','Phone_Number')
customer_df.show()

+-----------+------------------+--------------------+--------------------+--------------+--------------------+--------------------+--------------------+
|customer_id|     Customer_Name|    Customer_Address|       Customer_City|Customer_State|    Customer_Country|               Email|        Phone_Number|
+-----------+------------------+--------------------+--------------------+--------------+--------------------+--------------------+--------------------+
|          0|    Allen Castillo|   5750 Vanessa Neck|     New Vickiemouth|North Carolina|              Zambia|             unknown|  732.974.7438x89666|
|          1|        Tina Jones|28150 Kelsey Stat...|             unknown|          Iowa|               Qatar|gabriellemoore@ex...|    736.645.3977x275|
|          2|    Michael Murphy|894 Williams Ridg...|       Dominguezview|      New York|              Sweden|kristinstanley@ex...|+1-693-739-2204x8851|
|          3|       Brian Glenn|505 Mcdowell Gard...|South Christinech...|  South Dakota|             Lesotho|bcabrera@example.net|001-962-928-1897x...|
|          4|      Jennifer Liu|07805 Taylor Lock...|          South Lisa|       Wyoming|             unknown|fergusonjustin@ex...|   688.888.9882x6972|
|          5|           unknown|638 Collins Field...|             unknown|      Arkansas|             Armenia|pauladams@example...| +1-370-790-4769x506|
|          6|  Mr. John Burnett|400 Hudson Wells ...|             unknown|      New York|             unknown|kmitchell@example...|       (946)282-5147|
|          7|       Gary Archer| 0930 Michael Stream|            Boydport|North Carolina|Palestinian Terri...|kennethscott@exam...|       (713)965-2955|
|          8|         Erin Hood|             unknown|         Johnsonland|  South Dakota|             unknown|  yjones@example.org|        215-735-9369|
|          9|        Tommy Wood|             unknown|      Cameronborough|        Kansas|              Uganda|  rwells@example.com|          6289005739|
|         10|           unknown|    75803 Scott Mill|        Theresashire|        Oregon|  Dominican Republic|davidgarcia@examp...|    001-545-820-1419|
|         11|Mr. Gary Brooks II|   786 Mccarthy Fall|         Traceymouth|         Idaho|            Kiribati|ellislouis@exampl...|          8963308214|
|         12|    Julie Crawford|4531 Douglas Stre...|      Port Dianeside|       Arizona|Lao People's Demo...|             unknown|        473-295-8658|
|         13|    Zachary Grimes|42686 Jessica Loc...|           Johnshire|      Virginia|             Tunisia|vanessa93@example...|       (464)800-5827|
|         14|          Lee Lane|             unknown|North Elizabethmouth| New Hampshire|                Peru|danielsjoshua@exa...|001-849-803-1447x...|
|         15| Jessica Zimmerman|    15565 Reed Wells|       East Johnland|       Florida|                Chad|awilliams@example...|  664.840.4619x25293|
|         16|   Denise Johnston|98089 Kristen Roa...|           South Amy|    New Jersey|     Kyrgyz Republic|             unknown|    799-297-6013x169|
|         17|     Heidi Vazquez|5346 Gordon Shore...|          Briggsberg|     Wisconsin|             unknown| pobrien@example.org|          3294797221|
|         18|  Lindsey Thompson|7442 Sabrina Dam ...|            Ryantown|     Wisconsin|    Marshall Islands|             unknown|             unknown|
|         19|     Tammy Simmons|997 Flores Locks ...|            Woodston|      Nebraska|                Oman| udecker@example.com|+1-853-249-6586x8571|
+-----------+------------------+--------------------+--------------------+--------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [27]:
customer_df.count()

899679

In [28]:
# employee table
employee_df = nugabank_clean_df.select('Company', 'Job_Title', 'Email', 'Phone_Number', \
                     'Gender', 'Marital_Status') \
                     .withColumn('employee_id', monotonically_increasing_id()) \
                     .select('employee_id', 'Company', 'Job_Title', 'Email', 'Phone_Number', \
                     'Gender', 'Marital_Status')
employee_df.show()

+-----------+--------------------+--------------------+--------------------+-------------------+-------+--------------+
|employee_id|             Company|           Job_Title|               Email|       Phone_Number| Gender|Marital_Status|
+-----------+--------------------+--------------------+--------------------+-------------------+-------+--------------+
|          0|Benson, Johnson a...|             unknown|             unknown|  493.720.6609x7545|  Other|      Divorced|
|          1|             unknown|   Food technologist|michellelynch@exa...|      (497)554-3317| Female|       Married|
|          2|       Jones-Mueller|Database administ...| ljordan@example.org|      (534)769-3072|  Other|       unknown|
|          3|       Vargas-Harris|Horticultural the...|parkerjames@examp...|+1-447-900-1320x257|unknown|       unknown|
|          4|Richardson, Gonza...|   Minerals surveyor| zweaver@example.net|            unknown| Female|       Married|
|          5|           Smith Ltd| Seismic interpreter|benjaminwalker@ex...|   229-511-2530x870|  Other|       Married|
|          6|         Wade-Kelley|  Surveyor, minerals|karenrobinson@exa...|      (840)334-1610|   Male|       unknown|
|          7|             unknown|Medical laborator...|  iestes@example.org| 495.430.4276x42618| Female|        Single|
|          8|         Lindsey LLC|Programmer, appli...|maryduran@example...|  (241)738-0972x658| Female|        Single|
|          9|         Carroll LLC|             unknown|             unknown|       670-499-0309|   Male|        Single|
|         10|             unknown|     Sales executive|  eric64@example.net|            unknown|   Male|      Divorced|
|         11|Lynch, Hayes and ...|       Stage manager|stewartjames@exam...|  680-460-3674x6031|unknown|       Married|
|         12|           Green Ltd|Psychologist, pri...|             unknown|       695-680-5744|   Male|       unknown|
|         13|             unknown|Designer, blown g...|  mark84@example.com| 484.837.6166x81262| Female|        Single|
|         14|     Morris-Reynolds|          Podiatrist|robert02@example.com| 623.219.7997x39012|  Other|       Married|
|         15|         Sutton-Owen|   Financial planner|ewilliams@example...|            unknown|  Other|       Married|
|         16|         Brown Group|Nutritional thera...|suzanne41@example...|       448-821-0207|  Other|       Married|
|         17|         Scott Group|     Games developer|sullivandiane@exa...|(643)844-2202x42284|  Other|       Married|
|         18|Bryant, Huffman a...|Research scientis...|elliserica@exampl...|   214-650-4477x630|  Other|       Married|
|         19|          Palmer PLC|             unknown|annerice@example.com|  (528)927-0111x373|   Male|      Divorced|
+-----------+--------------------+--------------------+--------------------+-------------------+-------+--------------+
only showing top 20 rows

In [29]:
# fact table
fact_table = nugabank_clean_df.join(transaction_df, ['Transaction_Date', 'Amount', 'Transaction_Type'], 'inner') \
                     .join(customer_df, ['Customer_Name', 'Customer_Address', 'Customer_City', \
                         'Customer_State', 'Customer_Country'], 'inner') \
                     .join(employee_df, ['Company', 'Job_Title', 'Email', 'Phone_Number', \
                         'Gender', 'Marital_Status'], 'inner') \
                     .select('transaction_id', 'customer_id', 'employee_id', 'Credit_Card_Number',
                         'IBAN', 'Currency_Code', 'Random_Number','Category', 'Group', \
                         'Is_Active', 'Last_Updated', 'Description')
fact_table.show()

+--------------+-----------+-----------+-------------------+--------------------+-------------+-------------+--------+-------+---------+--------------------+--------------------+
|transaction_id|customer_id|employee_id| Credit_Card_Number|                IBAN|Currency_Code|Random_Number|Category|  Group|Is_Active|        Last_Updated|         Description|
+--------------+-----------+-----------+-------------------+--------------------+-------------+-------------+--------+-------+---------+--------------------+--------------------+
|   17179987341|17179981666|17179987341|     30233184463165|GB82ZFSS908131813...|          PAB|       6515.0|       B|unknown|      Yes|2021-12-12 16:34:...|Without shake mom...|
|   17179896094|     166686|17179896094|      4193772209051|             unknown|          AMD|       3869.0|       B|      Y|      Yes|2021-02-07 00:32:...|Defense billion c...|
|   17179996613|25769958116|17179996613|      4155644689430|GB84PDNR042799442...|          ALL|       1789.0|       C|      Z|  unknown|2022-01-08 01:23:...|Mouth happy press...|
|    8589986604|17179937847| 8589986604|4131053293826613966|GB78CKOS832138470...|          GNF|       7475.0|       B|      Z|      Yes|2022-02-06 23:35:...|Health sure story...|
|         29992|17179894628|      29992|   2452924189738024|GB50ZGVC717046003...|          TRY|       9153.0|       D|      Z|       No|2021-11-26 08:47:...|Wait represent ge...|
|   17180034023| 8590091611|17180034023|   3583789291890611|GB77YUPY268812806...|          JPY|       3977.0|       C|      Y|      Yes|2021-04-20 13:22:...|Million surface o...|
|    8590085798| 8590019333| 8590085798|   4625846628264239|GB97NDWP370396356...|          BSD|       6117.0| unknown|      X|      Yes|2023-02-14 08:41:...|Onto give past no...|
|   25770002257| 8590108834|25770002257|                  0|GB11VVRM027865406...|      unknown|       6669.0|       C|      X|       No|2022-04-13 17:22:...|Teach military ev...|
|   25769826302|     219437|25769826302|   4399041019463442|GB10ALQO471429631...|          ZWD|       1743.0| unknown|unknown|       No|2020-09-30 23:58:...|Air section envir...|
|    8590001812|     108991| 8590001812|      4833827926825|GB97JRBV088197918...|          BTN|       3374.0|       A|      Y|       No|2020-06-21 09:20:...|Movie poor pass m...|
|    8589974771| 8590030291| 8589974771|    349642907887383|GB40LQGI084577261...|          CUP|          0.0| unknown|unknown|       No|2021-09-08 09:32:...|Follow room produ...|
|        103516|17179873073|     103516|     30167114834907|GB09TXTK261344054...|          PHP|          0.0|       C|      Z|      Yes|2022-11-03 23:14:...|Sport internation...|
|   17179930029| 8590061159|17179930029|                  0|             unknown|          SPL|       7041.0|       A|      Y|      Yes|2021-08-27 22:10:...|             unknown|
|   25769829871|25769979918|25769829871|4794755645448954878|GB72LNLX437315583...|          BIF|       3362.0|       A|      X|      Yes|2020-01-02 05:23:...|Daughter long fal...|
|    8590036928|25769881751| 8590036928|     30385282074037|GB38ZOCQ015777466...|          ARS|       4874.0|       C|      X|       No|2022-03-20 18:09:...|Natural else acti...|
|   25769890855|     196043|25769890855|   3521456466352539|GB17MFSX600590853...|          JEP|       3308.0|       C|      Y|       No|2023-08-12 02:21:...|Join reduce direc...|
|         41116|25769825565|      41116|   3576256000233508|GB05FCUJ109686526...|          KGS|          0.0|       C|      Y|      Yes|2022-12-26 02:26:...|Adult less group ...|
|   25769992310|25770016462|25769992310|                  0|             unknown|          KWD|       5387.0|       A|      Z|       No|2023-06-18 06:25:...|Great product lea...|
|    8590133266|17179977519| 8590133266|   3539897266913196|GB92YSQQ307596917...|          SEK|       2788.0|       C|      Y|       No|2022-01-08 21:12:...|But shoulder ask ...|
|   17180014929|17179984176|17180014929|                  0|             unknown|          KPW|       5774.0|       B|      Y|  unknown|2023-06-14 05:58:...|Involve finally u...|
+--------------+-----------+-----------+-------------------+--------------------+-------------+-------------+--------+-------+---------+--------------------+--------------------+
only showing top 20 rows

In [30]:
# fact table
fact_table = nugabank_clean_df.join(transaction_df, ['Transaction_Date', 'Amount', 'Transaction_Type'], 'left') \
                     .join(customer_df, ['Customer_Name', 'Customer_Address', 'Customer_City', \
                         'Customer_State', 'Customer_Country'], 'left') \
                     .join(employee_df, ['Company', 'Job_Title', 'Email', 'Phone_Number', \
                         'Gender', 'Marital_Status'], 'left') \
                     .select('transaction_id', 'customer_id', 'employee_id', 'Credit_Card_Number',
                         'IBAN', 'Currency_Code', 'Random_Number','Category', 'Group', \
                         'Is_Active', 'Last_Updated', 'Description')
fact_table.show()

+--------------+-----------+-----------+-------------------+--------------------+-------------+-------------+--------+-------+---------+--------------------+--------------------+
|transaction_id|customer_id|employee_id| Credit_Card_Number|                IBAN|Currency_Code|Random_Number|Category|  Group|Is_Active|        Last_Updated|         Description|
+--------------+-----------+-----------+-------------------+--------------------+-------------+-------------+--------+-------+---------+--------------------+--------------------+
|            16|      32038|         16|   3564854271916761|GB58VVHN678787830...|          AED|       2546.0|       B|      Y|      Yes|2021-09-14 07:15:...|Letter hand soldi...|
|             9| 8589953692|          9|    213171934267032|GB05MHXA361278613...|          BAM|       3958.0| unknown|unknown|      Yes|2022-09-19 03:52:...|He wish soldier t...|
|   17179869192|     150742|17179869192|   4000677407528931|GB08CDPI833234711...|          KES|       1613.0|       C|      Z|      Yes|2021-03-01 18:25:...|Travel today too ...|
|   17179869199| 8590088473|17179869199|   4239162655922295|GB96MEEY268453596...|          BTN|       5605.0|       D|      Z|       No|2020-03-22 00:53:...|Visit present reg...|
|    8589934595|      88090| 8589934595|4028728529164460418|GB36NHIK654260063...|          ANG|       6335.0|       D|      X|      Yes|2023-05-18 00:47:...|Stay attack power...|
|   17179869194|17180025391|17179869194|    180011925754821|GB63ZQJQ893274286...|          XCD|       7716.0|       A|      Z|       No|2020-12-19 09:49:...|Head health ten w...|
|    8589934596|     108653| 8589934596|      4021800082481|GB78UBAH195883770...|          LBP|       8097.0|       C|      X|      Yes|2023-07-11 06:06:...|Maybe teacher dee...|
|            12|34359738368|         12|   6011259703732723|GB34HWCA758164830...|          AFN|       4452.0|       C|unknown|       No|2023-07-09 08:03:...|Program sense arm...|
|   25769803778|25769988482|25769803778|   5388658592185363|GB09MHOG513401686...|          NIS|       4609.0|       C|      Z|       No|2021-11-19 11:47:...|             unknown|
|            20| 8589934592|         20|    213186454811670|GB77SPMZ984195063...|          SOS|       7610.0|       C|      X|       No|2021-04-15 13:30:...|Concern remember ...|
|    8589934601|17179958193| 8589934601|   6011177559558424|GB76DNER497098023...|          BZD|       6499.0|       D|      X|  unknown|2020-02-09 13:11:...|Risk take recent ...|
|             2|      15600|          2|       675983949974|GB59QYRN446730519...|          COP|       7796.0|       C|      Z|       No|2020-01-24 01:23:...|Again line face c...|
|             4|17179923960|          4|    213156729655186|GB94EWRN587847592...|          SOS|       9179.0|       C|      Y|       No|2022-01-22 19:08:...|Husband find ok w...|
|    8589934610|25769859687| 8589934610|                  0|GB79VCXM025662145...|          SPL|       7594.0|       D|      X|      Yes|2021-06-26 14:31:...|Fall report stay ...|
|             5|17179895642|          5|       501851472974|             unknown|          ZWD|          0.0|       B|      Z|      Yes|2023-02-18 19:26:...|             unknown|
|   17179869191|     147330|17179869191|   4541973345983635|GB50DSFT083743948...|          USD|       6967.0|       D|      X|       No|2021-08-19 16:33:...|Conference throw ...|
|             6| 8589950288|          6|4543690154172468535|GB55FCPC779828821...|          CAD|       7304.0|       A|      X|      Yes|2020-10-27 16:48:...|Standard prepare ...|
|   25769803787|     195610|25769803787|                  0|             unknown|          CDF|       7760.0|       C|unknown|       No|2023-06-13 11:58:...|Child spend be le...|
|            13| 8589935670|         13|     30287519972043|GB62WWAH360646956...|          VUV|       2251.0|       C|      Z|      Yes|2022-02-07 00:48:...|Prepare other los...|
|             1|25769857338|          1|                  0|GB03KFZR339662263...|          VEF|       2122.0|       B|      Z|  unknown|2020-12-27 13:23:...|Teach edge make n...|
+--------------+-----------+-----------+-------------------+--------------------+-------------+-------------+--------+-------+---------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
#output the transformed data to parquet
transaction_df.write.mode('overwrite').parquet(r'dataset/transaction')
customer_df.write.mode('overwrite').parquet(r'dataset/customer')
employee_df.write.mode('overwrite').parquet(r'dataset/employee')
fact_table.write.mode('overwrite').parquet(r'dataset/fact_table')

In [ ]:
#output the transformed data to csv
transaction_df.repartition(3).write.mode('overwrite').option('header', 'true').csv(r'dataset/transformeddata/csv/transaction')
customer_df.repartition(3).write.mode('overwrite').option('header', 'true').csv(r'dataset/transformeddata/csv/customer')
employee_df.repartition(3).write.mode('overwrite').option('header', 'true').csv(r'dataset/transformeddata/csv/employee')
fact_table.repartition(3).write.mode('overwrite').option('header', 'true').csv(r'dataset/transformeddata/csv/fact_table')

In [32]:
# convert spark to pandas df
transaction_pd_df = transaction_df.toPandas()
customer_pd_df = customer_df.toPandas()
employee_pd_df = employee_df.toPandas()
fact_table_pd_df = fact_table.toPandas()

In [34]:
#loading the dataset into postgresql DB


# Define database connection parameters
db_params = {
    'username': 'postgres',
    'password': 'root1986%40',
    'host': 'localhost',
    'port': '5432',
    'database': 'nuga_bank'
    
}

# Define the database connection URL with db parameters
db_url = f"postgresql://{db_params['username']}:{db_params['password']}@{db_params['host']}:{db_params['port']}/{db_params['database']}"

# Create the database engine with db URL
engine = create_engine(db_url)


# connect to postgresql server

# Connection is automatically closed when the with block exits

with engine.connect() as connection:
  # create tables and load the data
  transaction_pd_df.to_sql('transaction_df', connection, if_exists = 'replace', index = False)
  customer_pd_df.to_sql('customer_df', connection, if_exists = 'replace', index = False)
  employee_pd_df.to_sql('employee_df', connection, if_exists = 'replace', index = False )
  fact_table_pd_df.to_sql('fact_table_pd_df', connection, if_exists = 'replace', index = False)

print('database table loaded succesfully')

database table loaded succesfully

In [55]:
# Develop Functions to Get Database Connection
def get_db_connection():
    connection = psycopg2.connect(
        host='localhost',
        database='nuga_bank',
        user='postgres',
        password='root1986@'
    )
    return connection

# Connect to SQL Database
conn = get_db_connection()

In [58]:
from pyspark.sql import SparkSession

# Initialize Spark session
spark = SparkSession.builder \
    .appName("nuga_bank") \
    .config("spark.jars", "C:\\jdbc\\postgresql-42.7.3.jar") \
    .getOrCreate()

In [59]:




# Connect to SQL Database
conn = get_db_connection()
# Create a function to create tables
def create_table():
    conn = get_db_connection()
    cursor = conn.cursor()
    create_table_query = '''
                        DROP TABLE IF EXISTS customer;
                        DROP TABLE IF EXISTS transaction;
                        DROP TABLE IF EXISTS employee;
                        DROP TABLE IF EXISTS fact_table;

                        CREATE TABLE customer (
                            customer_id BIGINT,
                            Customer_Name VARCHAR(10000),
                            Customer_Address VARCHAR(10000),
                            Customer_City VARCHAR(10000),
                            Customer_State VARCHAR(10000),
                            Customer_Country VARCHAR(10000)
                        );
                        
                        CREATE TABLE transaction (
                            transaction_id BIGINT,
                            Transaction_Date DATE,
                            Amount FLOAT,
                            Transaction_Type VARCHAR(10000)
                        );

                        CREATE TABLE employee (
                            employee_id BIGINT,
                            Company VARCHAR(10000),
                            Job_Title VARCHAR(10000),
                            Email VARCHAR(10000),
                            Phone_Number VARCHAR(10000),
                            Gender VARCHAR(10000),
                            Marital_Status VARCHAR(10000)
                        );

                        CREATE TABLE fact_table (
                            transaction_id BIGINT,
                            customer_id BIGINT,
                            employee_id BIGINT,
                            Credit_Card_Number BIGINT,
                            IBAN VARCHAR(10000),
                            Currency_Code VARCHAR(10000),
                            Random_Number FLOAT,
                            Category VARCHAR(10000),
                            "Group" VARCHAR(10000),
                            Is_Active VARCHAR(10000),
                            Last_Updated DATE,
                            Description VARCHAR(10000)
                        );
                        '''
    cursor.execute(create_table_query)
    conn.commit()
    cursor.close()
    conn.close()
create_table()
url = "jdbc:postgresql://localhost:5432/nuga_bank"
properties = {
    "user" : "postgres",
    "password" : "root1986@",
    "driver" : "org.postgresql.Driver"
}

customer_df.write.jdbc(url=url, table="customer", mode="append", properties=properties)
employee_df.write.jdbc(url=url, table="employee", mode="append", properties=properties)
transaction_df.write.jdbc(url=url, table="transaction", mode="append", properties=properties)
fact_table.write.jdbc(url=url, table="fact_table", mode="append", properties=properties)

Py4JJavaError: An error occurred while calling o438.jdbc.
: java.lang.ClassNotFoundException: org.postgresql.Driver
	at java.base/java.net.URLClassLoader.findClass(URLClassLoader.java:476)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:588)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:521)
	at org.apache.spark.sql.execution.datasources.jdbc.DriverRegistry$.register(DriverRegistry.scala:46)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$1(JDBCOptions.scala:103)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$1$adapted(JDBCOptions.scala:103)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:103)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcOptionsInWrite.<init>(JDBCOptions.scala:254)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcOptionsInWrite.<init>(JDBCOptions.scala:258)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:47)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:48)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:75)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:73)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.executeCollect(commands.scala:84)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:76)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:437)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:85)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:83)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:142)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:859)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:388)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:361)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:248)
	at org.apache.spark.sql.DataFrameWriter.jdbc(DataFrameWriter.scala:756)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:834)

In [49]:
customer_pd_df.head()

,customer_id,Customer_Name,Customer_Address,Customer_City,Customer_State,Customer_Country,Email,Phone_Number
0,0,Allen Castillo,5750 Vanessa Neck,New Vickiemouth,North Carolina,Zambia,unknown,732.974.7438x89666
1,1,Tina Jones,28150 Kelsey Station Suite 560,unknown,Iowa,Qatar,gabriellemoore@example.net,736.645.3977x275
2,2,Michael Murphy,894 Williams Ridges Apt. 635,Dominguezview,New York,Sweden,kristinstanley@example.com,+1-693-739-2204x8851
3,3,Brian Glenn,505 Mcdowell Gardens Suite 851,South Christinechester,South Dakota,Lesotho,bcabrera@example.net,001-962-928-1897x95101
4,4,Jennifer Liu,07805 Taylor Locks Suite 278,South Lisa,Wyoming,unknown,fergusonjustin@example.com,688.888.9882x6972

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

# Define the database connection string
database_url = "postgresql+psycopg2://postgres:password@localhost/nuga_bank"

# Create a SQLAlchemy engine
engine = create_engine(database_url)

# Assuming customer_pd_df, employee_pd_df, transaction_pd_df, fact_table_pd_df are your pandas DataFrames

# Write the DataFrames to the SQL tables
customer_pd_df.to_sql('customer', engine, if_exists='append', index=False)
employee_pd_df.to_sql('employee', engine, if_exists='append', index=False)
transaction_pd_df.to_sql('transaction', engine, if_exists='append', index=False)
fact_table_pd_df.to_sql('fact_table', engine, if_exists='append', index=False)

In [ ]:
nugabank_df = nugabank_df.withColumn('TotalCost', col)

In [ ]:
filtered_nugabank_df = nugabank_df.filter(col('Quantity')>5)
filtered_nugabank_df()

In [ ]:
nugabank_df_id = nugabank_df.select('', '',)

In [ ]:
nugabank_df.write.partitionBy('Transaction_Date').parquet('partitioned_data')

:

In [ ]:
new_nugabank_df = spark.read.parquet('partitioned_data')
new_nugabank_df.show()

In [ ]:
# nugabank_df = ecom_df.withColumn('ClientName', col('Customer_'))